#navbar ul li a.about-a::after {
  width: calc(100% - 20px);
}

#navbar ul li a.about-a {
  color: #ec5242;
}

#headline {
  height: auto;
  background: #f5f5f5;
}

#headline .desc {
  background: #fff;
  border-color: #eee;
  box-shadow: none;
  margin-bottom: 50px;
}

#about-logo {
  background: #fff;
  border-bottom: 2px solid #eee;
  border-top: 2px solid #eee;
}

.container1 {
  width: 100%;
  max-width: 600px;
  padding: 10px 24px;
}

.container1 figure {
  padding: 20px;
  border: 2px solid #eee;
  width: 85%;
  margin: 40px auto 0;
}

#past .grid {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 40px;
}

#past .grid .grid-item {
  max-width: 420px;
  height: 300px;
  justify-content: center;
  color: #fff;
}

#past .grid .grid-item:first-child {
  background-image: linear-gradient(to bottom, rgba(236, 82, 66, 0.8) 20%, rgba(236, 82, 66, 0.8) 70%), url('./assets/images/past1.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

#past .grid .grid-item:last-child {
  background-image: linear-gradient(to bottom, rgba(236, 82, 66, 0.8) 20%, rgba(236, 82, 66, 0.8) 70%), url('./assets/images/past2.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

footer {
  background: #272a31;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  #past .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
