@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

/* General styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Zen Maru Gothic', sans-serif;
  color: #272a31;
  background: #f5f5f5;
}

ul {
  list-style: none;
}

button {
  background: none;
  cursor: pointer;
  border: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* My classes */
.big-text {
  font-size: 38px;
  line-height: 48px;
}

.medium-text {
  font-size: 28px;
  line-height: 32px;
}

.regular-text {
  font-size: 16px;
  line-height: 24px;
}

.bold {
  font-weight: 900;
}

.semi-bold {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.color1 {
  color: #ec5242;
}

.color2 {
  color: #d3d3d3;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center-align {
  align-items: center;
}

.wrapper {
  width: 100%;
  padding: 50px 24px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.capitalize {
  text-transform: capitalize;
}

.upper {
  text-transform: uppercase;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-columns: auto;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  width: 100%;
}

.grid-item {
  height: auto;
  background: #f5f5f520;
  width: 100%;
  max-width: 370px;
  margin: 0 auto;
}

/* Header styling */
header {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 8px 14px;
  position: absolute;
  top: 0;
  background: transparent;
}

#logo {
  display: none;
}

#navbar {
  width: 100%;
  position: absolute;
  top: 0;
  background: #272a31;
  padding-top: 40px;
  overflow: auto;
  overscroll-behavior: contain;
  height: 100vh;
  z-index: 10;
  display: none;
}

#navbar ul li a {
  color: #f5f5f5;
  display: block;
  padding: 10px;
  font-size: 34px;
  position: relative;
}

#navbar ul li a::after {
  content: "";
  height: 3px;
  width: 20px;
  border-radius: 2px;
  background: #ec5242;
  transition: width 1s 5ms;
  position: absolute;
  bottom: 0;
  left: 10px;
  z-index: 20;
}

#navbar ul li a:hover::after {
  width: calc(100% - 20px);
}

.toggle-menu {
  font-size: 40px;
  padding: 5px 15px;
  z-index: 50;
}

/* Headline section Styling */
#headline {
  padding: 150px 24px 70px 24px;
  min-height: 90vh;
  background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0.9) 10%, rgb(245, 245, 245) 25%), url('./assets/images/headline-bg.png');
  background-repeat: no-repeat;
  background-position: center top;
}

#headline h1 {
  margin-top: 0px;
  background-image: linear-gradient(to bottom right, rgba(236, 82, 66, 0.5) 10%, rgba(236, 82, 66, 1) 90%), url(./assets/images/text-bg.png);
  background-repeat: repeat;
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc {
  padding: 12px 16px;
  border: 2px solid #fff;
  background: #f5f5f5;
  margin: 24px auto;
}

/* Program section style */
#program {
  background-image: linear-gradient(to bottom, rgba(39, 42, 49, 0.8), rgba(39, 42, 49, 1)), url('./assets/images/program-bg.png');
  background-repeat: no-repeat;
  background-position: center top;
}

.section-title {
  position: relative;
  padding: 10px;
  color: #f5f5f5;
}

.section-title::after {
  content: "";
  height: 1px;
  width: 30px;
  border-radius: 2px;
  background: #ec5242;
  transition: width 1s 5ms;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}